* {
	margin:0;
	padding:0;
	border:0;
}
body {
	width:960px;
	margin:0 auto;
	background:#f2f2f2;
}
/******* 공통 레이아웃 *********/
ul {
		width:350px;
		margin:0 auto;
		padding:10px 0;
	}
ul li {
	 /*1. display속성 inline으로 설정*/

	}
a {
	 /*2. text-decoration속성을 적용해 a태그의 밑줄제거 */

	}
ul li a {
		color: #000;
		 /*3. background 색상 #dddddd(#ddd)로 설정 */

	}
ul li a:hover {
		color: #fff;
		/*4. background 색상 #555555(#555)로설정*/

	}
/******* header **********/
header {
	/* 5. background 색상 #ffffff(#fff) 로 설정*/

	/*6. border-radius15px로 설정*/

	box-shadow: 0px 0px 10px 0px #888888;
}
/******* main-content **********/
section{
	 /*7. display 속성 inline-block으로 설정 */

		margin:20px 0 20px 0;
		padding:20px;
		/*float:left;*/
		border-top: 2px solid #ce0101;
		/* 8. border-radius15px로 설정*/

		box-shadow: 0px 0px 10px 0px #888888;
		 /*9. background 색상 원하는 색상으로 설정 */

	}
section a {
		color: blue;
	}
section a:hover {
	 /*10. text-decoration속성을 적용해 a태그의 밑줄제거 */

	}

.box {
		/*float:left;*/
		width:100px;
	  margin:20px;
	  padding:20px;
	  border:5px solid blue;
		 /*11. background 이미지 삽입 */

	}

/******* footer **********/
footer {
	/*12. background 색상 #ffffff(#fff) 로 설정*/

	padding:10px;
	/* 13.  border-radius15px로 설정*/

	box-shadow: 0px 0px 10px 0px #888888;
}
